#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.dao.mapper.HelloWorldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package}.dao.entity.HelloWorld">
        <id column="id" property="id" />
        <result column="say_hello" property="sayHello" />
        <result column="your_name" property="yourName" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, say_hello, your_name, gmt_created, gmt_modified, is_deleted
    </sql>

</mapper>
